#contact-v2-page {

  .contact-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    .box-titles {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 35px;
      text-align: center;

      .title-s1 {
        margin-bottom: 20px;
      }

      .title-2 {
        font-size: 1.35rem;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .txt-info {
        font-size: 1.15rem;
        font-weight: 500;
      }
    }

    .box-form {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto 45px auto;
      width: 660px;
      max-width: 100%;

      form {}

      .custom-f-group-s1 {
        margin-bottom: 1.6rem;
        @include placeholder(#222121, 500, normal, 1.25rem);

        >div {
          .form-control {
            padding: 0.8rem 2.3rem;
            height: auto;
            color: #222121;
            font-weight: 500;
            border: 0;
            border-radius: 40px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1) !important;
            background-color: #f2f2f2;
          }

          textarea {
            resize: none;
          }
        }
      }

      .btn-s2 {
        font-size: 1.30rem;
      }
    }

    .box-image {
      margin: 0 auto;
      width: 1040px;
      max-width: 100%;
      height: 520px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @media screen and (max-width: 1399px) {
      .box-image {
        width: 990px;
        height: 490px;
      }
    }
    @media screen and (max-width: 991px) {
      .box-image {
        width: 991px;
        background-size: cover;
        height: 490px;
      }
    }
    @media screen and (max-width: 767px) {
      .box-image {
        height: 440px;
        background-position: right 28% center;
      }
    }
    @media screen and (max-width: 575px) {
      padding-top: 0;
      margin-top: 0;

      .box-titles {
        .title-2 {
          font-size: 1.25rem;
          font-weight: 800;
        }

        .txt-info {
          line-height: 1.4;
        }
      }

      .box-form {
        margin-bottom: 35px;

        .btn-s2 {
          font-size: 1.2rem;
        }
      }

      .box-image {
        height: 460px;
        background-position: right 7% center;
      }
    }
  }

}
