#home-page{

	.banner-section {
		position: relative;
		width: 100%;

		.swiper {
			.swiper-slide {
				.box {
					display: block;

					img {
						width: 100%;
					}
				}
			}
		}

		.desktop {}
		.mobile {
			display: none;
		}

		@media screen and (max-width: 767px) {
			.desktop {
				display: none;
			}
			.mobile {
				display: block;
			}
		}
	}

}
