.custom-radio-group {
  >label, >legend {
    padding-bottom: 3px;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.1;
  }

  >div {
    .custom-radio {
      display: block;
      padding-left: 1.7rem;
      margin: 3px 0;

      .custom-control-label {
        font-size: 0.95rem;
        font-weight: 600;
        cursor: pointer;

        &:before {
          left: -1.7rem;
          border: 1px solid #222121;
          background-color: transparent;
        }
        &:after {
          left: -1.7rem;
        }
      }

      .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #222121 !important;
        border-color: #222121;
      }
    }
  }
}

.box-radio-options-s1 {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $blue;
  border-radius: 15px;

  .custom-radio {
    display: inline-block;
    padding-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    .custom-control-label {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      color: $blue;
      align-items: center;
      cursor: pointer;

      &:before {
        top: calc(50% - 16px);
        left: 1.3rem;
        width: 32px;
        height: 32px;
        border: 2px solid $blue;
        background-color: transparent;
      }

      &:after {
        display: none;
      }

      .col-name {
        padding: 0 12px 0 72px;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.1;
      }

      .col-descr {
        padding-top: 2px;
        padding-bottom: 2px;
        border-left: 1px solid $blue;
        font-size: 1.20rem;
        line-height: 1.35;
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &:before {
        background-color: $blue;
      }
    }
  }

  @media screen and (max-width: 575px) {
    .custom-radio {
      .custom-control-label {
        &:before {
          top: calc(50% - 11px);
          left: 0.75rem;
          width: 22px;
          height: 22px;
        }

        .col-name {
          padding: 0 12px 0 44px;
          font-size: 1.10rem;
        }

        .col-descr {
          font-size: 1.0rem;
        }
      }
    }
  }
}

.custom-select-s1 {
  padding: 0.55rem 1.50rem;
  height: inherit;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 34px;
  background-size: 12px 12px;
  background-position: right 17px center;

  &.custom-select-lg {
    padding: 0.70rem 2.1rem;
    font-size: 1.3rem;
    background-size: 14px 15px;
  }

  &.outline-white {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    background-color: transparent !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
  }

  option {
    color: $gray;

    &:first-child {
      color: #999999 !important;
    }
  }
}
