.modal-glasses-opts {

  .modal-dialog {
    .modal-content {
      padding-top: 0.7rem;
      padding-bottom: 0.8rem;
      background-color: $yellow;
      border: 0;

      .modal-header {
        position: relative;
        align-items: center;
        justify-content: center;
        border-bottom: 0;

        .modal-title {
          color: $purple;
          font-size: 2.9rem;
          font-weight: 800;
          line-height: 1.1;
          text-align: center;
        }

        .close {
          position: absolute;
          padding: 0 14px;
          margin: 0;
          top: -5px;
          right: 8px;
          color: $purple;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1;
          text-shadow: none;
          opacity: 1;
        }
      }

      .modal-body {
        .col-nav-buttons {
          margin-top: 25px;
          text-align: center;

          a {
            cursor: pointer;
          }

          .btn-s1 {
            margin: 5px 7px;

            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      .modal-header {
        .modal-title {
          margin-top: 5px;
          font-size: 2.0rem !important;
        }

        .close {
          top: -16px !important;
          right: 3px !important;
        }
      }

      .modal-body {
        .col-nav-buttons {
          .btn-s1 {
            padding: 0.6rem 1.9rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // Modal materiales
  &.modal-g-step-material {
    .modal-body {
      >.row {
        justify-content: center;
      }
    }
  }

  // Modal recubrimiento
  &.modal-g-step-recubrimiento {
    .modal-body {
      >.row {
        justify-content: center;
      }
    }
  }

  // Modal armazón
  &.modal-g-step-armazon {
    .modal-dialog {
      .modal-content {
        background-color: #ffffff;

        .modal-header {
          padding-bottom: 8px;

          .modal-title {
            padding-right: 30px;
            text-align: center;
            font-size: 2.6rem;
          }
        }
      }
    }

    .modal-body {
      padding-top: 0;

      >.row {
        justify-content: center;
      }

      .col-carousel {
        min-height: 190px;
        background-color: #ffffff;

        &.loading {
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../images/shared/loading-pink.svg');
        }

        .swiper {
          .swiper-button-prev {
            left: 3px;
          }

          .swiper-button-next {
            right: 3px;
          }

          .swiper-button-prev, .swiper-button-next {
            color: $purple;

            &:after {
              font-size: 2.4rem;
              font-weight: 800;
            }

            &:hover {
              color: $purple2;
            }
          }

          .swiper-slide {
            padding: 3px;

            .box-opt {
              position: relative;
              display: inline-block;
              padding-bottom: 5px;
              margin-top: 5px;
              width: 100%;
              border: 2px solid transparent;
              border-radius: 8px;
              cursor: pointer;

              &.active {
                border-color: $purple !important;
              }

              &.disabled {
                cursor: not-allowed;

                .inside {
                  pointer-events: none !important;
                }

                .box-legend {
                  display: flex !important;
                }
              }

              .inside {
                position: relative;
                display: block;
              }

              .box-legend {
                position: absolute;
                display: none;
                justify-content: center;
                align-items: center;
                padding: 15px 32px;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.8);
                z-index: 10;

                >div {
                  display: inline-block;
                  width: 100%;
                  color: $purple;
                  font-size: 1.90rem;
                  font-weight: 800;
                  line-height: 1.0;
                  text-align: center;
                }
              }

              .box-image {
                display: block;
                padding-right: 50px;
                padding-left: 50px;

                .image {
                  display: block;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;

                  img {
                    width: 100%;
                  }
                }
              }

              .box-info {
                display: block;
                padding-left: 60px;
                padding-right: 60px;
                padding-bottom: 15px;
                color: $purple;

                .name {
                  font-size: 1.35rem;
                  font-weight: 600;
                }

                .descr {
                  display: block;
                  padding-top: 4px;
                  font-size: 1.1rem;
                  line-height: 1.1;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      .modal-header {
        .modal-title {
          padding-right: 0;
        }
      }
      .modal-body {
        .col-carousel {
          &.loading {
            // background-image: url();
            background-position: center;
            background-repeat: no-repeat;
          }

          .swiper {
            .swiper-button-prev, .swiper-button-next {
              top: 45%;

              &:after {
                font-size: 2.1rem;
              }
            }

            .swiper-slide {
              .box-opt {
                .box-image {
                  padding-left: 35px;
                  padding-right: 35px;
                }

                .box-info {
                  padding-left: 40px;
                  padding-right: 40px;

                  .name {
                    font-size: 1.25rem;
                  }

                  .descr {
                    font-size: 1.05rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-glasses-opts + .modal-backdrop {
  opacity: 0.3 !important;
  background-color: rgba(255, 255, 255, 1.0);
}


.modal-glasses-design {

}

// .modal-glasses-design + .modal-backdrop {
//   opacity: 0.3 !important;
//   background-color: rgba(255, 255, 255, 1.0);
// }
